<template name="adminNavigation">
  <ul class="nav nav-pills nav-stacked">
    <li role="presentation" class="active"><a href="#">Dashboard</a></li>
    <li role="presentation"><a href="{{pathFor 'markers'}}">Markers</a></li>
    <li role="presentation"><a href="{{pathFor 'reviews'}}">Reviews</a></li>
    <li role="presentation"><a href="{{pathFor 'users'}}">Users</a></li>
    <li role="presentation"><a href="#">Analytics</a></li>
    <li role="presentation"><a href="{{pathFor 'pagesList'}}">Pages</a></li>
  </ul>
</template>
