<template name="splashPage">
	<div class="modal subscribeModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
	  <div class="modal-dialog">
	    <div class="modal-content">
		    <div class="modal-header">
		        <h4 class="modal-title" id="gridSystemModalLabel">A "Where to Go Scouting" Guide for the 21st Century</h4>
		    </div>
		    <div class="modal-body text-center">
		    	<div class="container-fluid">
		          <div class="row">
		            <div class="col-md-12">
		            	<h3>Welcome!</h3>
		            </div>
		          </div>
		          <div class="row">
		          	<div class="col-md-12">
		            	<p>Our mission is to create a fresh take on the age-old "Where to Go Camping" concept, which has become a invaluable tool for units throughout Scouting. Cub Scout Packs, Boy Scout Troops, and Venturing Crews all use these guides to find places to camp, hike, climb, ski, skate, work, play, and learn.</p>
				<p>Our take on that idea is built on a modern platform, powered by current technology, and is as user-friendly as possible. Our goal is to build a tool that will become a critical resource for Scout units throughout all of Scouting.</p>
				<p>We're creating a Where to Go Scouting Guide for the 21st Century, and we'll need your help to make it incredible.</p>
				<p>Give us your email address and we'll keep you updated as things progress. We hate spam as much as you do, so we promise to be responsible with your information.</p>
		            </div>
		          </div>
		          <div class="row">
		            <div class="col-md-12">
			            <div id="subscribeForm">
							{{> MailChimpListSubscribe}}
				  		</div>
					</div>
		          </div>
		          <div class="row">
		            <div class="col-md-12">
		            	<h3>&nbsp;</h3>
		            </div>
		          </div>
		        </div>
		    </div>
	    </div>
	  </div>
	</div>
</template>
