<template name="mapIconEdit">
  <div class="container-fluid">
    <h4>Create/Edit Map Icon</h4>
    <form class="">
      <div class="row">
        <div class="form-group">
          <label class="control-label" for="type">Type</label>
          <div class="controls">
            <input type="text" name="type" id="type" value="{{mapIcon.type}}" placeholder="Type" class="form-control"/>
          </div>
        </div>
      </div>
      <div class="row">
        <input type="submit" value="Submit" class="btn btn-primary"/>
      </div>
    </form>
  </div>
</template>
