<template name="markers">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h3>Markers</h3>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12 col-sm-2">
        {{> adminNavigation}}
      </div>
      <div class="col-xs-12 col-sm-10">
        <p><a class="btn btn-sm btn-success" href="{{pathFor 'createMarker'}}"><i class="fa fa-plus"></i>&nbsp;Add Marker</a></p>
        {{#each markers}}
          <p>{{name}} - <a href="{{pathFor 'editMarker'}}">Edit</a></p>
        {{/each}}
      </div>
    </div>
  </div>
</template>
