<template name="pagesList">
	{{> addNewPageModal}}
	<div class="container-fluid">
		<div class="row">
      <div class="col-xs-12">
        <h3>Pages</h3>
      </div>
    </div>
    <hr>
	  <div class="row">
	    <div class="col-xs-12 col-sm-2">
	      {{> adminNavigation}}
	    </div>
	    <div class="col-xs-12 col-sm-10">
				<div class="pages">
					<a href="#" class="btn btn-sm btn-success add-new-page" data-toggle="modal" data-target="#new-page-modal">Start a New Page</a>
					<hr>
					<div class="list-group pages-list">
						{{#each pages}}
							<a class="list-group-item" href="{{pathFor 'pageEdit'}}">{{title}}</a>
						{{else}}
							<p>No pages yet, friend.</p>
						{{/each}}
					</div>
				</div>
	    </div>
	  </div>
	</div>
</template>
