<template name="pagesList">
	<div class="container-fluid">
		{{> addNewPageModal}}
		<div class="pages">
			<h4 class="page-header">Pages</h4>
			<a href="#" class="btn btn-success add-new-page" data-toggle="modal" data-target="#new-page-modal">Start a New Page</a>
			<hr>
			<div class="list-group pages-list">
				{{#each pages}}
					<a class="list-group-item" href="{{pathFor 'pageEdit'}}">{{title}}</a>
				{{else}}
					<p>No pages yet, friend.</p>
				{{/each}}
			</div>
		</div>
	</div>
</template>
